<%= form_with(model: data_set, class: "space-y-4") do |form| %>
  <% if data_set.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>
      <ul>
        <% data_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= form.label :source_url, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :source_url, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>

  <div class="block w-40">
    <%= form.label :schema_name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :schema_name, options_for_select(DataSet.available_schema_names, data_set.schema_name), {}, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="block w-64">
    <%= form.label :time_range_start, class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_field :time_range_start, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="block w-64">
    <%= form.label :time_range_end, class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_field :time_range_end, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="block w-64">
    <%= form.label :client_id, class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :client_id, Client.all, :id, :name, { include_blank: true }, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>
