<div class="flex space-x-4 ">
  <div>
    <h1 class="m-2">Data Sets for <%= active_client %></h1>
  </div>
  <div>
    <%= link_to 'New Data Set', new_data_set_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>
  <div>
    <%= link_to 'Bulk Import', bulk_import_data_sets_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>
</div>
<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Critical</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time Range</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Client</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 150px;">Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @data_sets.each do |data_set| %>
      <tr class="odd:bg-white even:bg-gray-200">
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= data_set.name %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= data_set.log_entries.count %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= data_set.log_entries.critical.count %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <% if data_set.time_range_start && data_set.time_range_end %>
            <%= data_set.time_range_start %> - <%= data_set.time_range_end %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= link_to_if(data_set.client, data_set.client, data_set.client) %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-right" style="width: 150px;">
          <%= link_to 'Show', data_set, class: 'text-blue-600 hover:text-blue-900' %> |
          <%= link_to 'Edit', edit_data_set_path(data_set), class: 'text-blue-600 hover:text-blue-900' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>