<div id="<%= dom_id incident %>" class="bg-white shadow overflow-hidden sm:rounded-lg">  
  <div class="border-t border-gray-200">
    <dl>      
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">        
        <dd class="mt-1 text-lg text-gray-900 sm:col-span-2 sm:mt-0">
          <%= incident.name %>
        </dd>
      </div>
      <div class="flex flex-row">
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Client
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= link_to_if(incident.client, incident.client.name, incident.client) %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Opened at
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= incident.opened_at %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Closed at
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= incident.closed_at %>
          </dd>
        </div>        
      </div>      
    </dl>
  </div>
</div>
